@{
    Layout = null;
}
@model SimplestMvc5Auth.LoginModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>External Login Success</title>
</head>
<body>
    <p>External login succeeded.</p>
</body>
</html>